<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erafollower.task.mapper.TaskRemindMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erafollower.task.model.po.TaskRemind">
        <id column="id" property="id" />
        <result column="task_id" property="taskId" />
        <result column="cron" property="cron" />
        <result column="is_vaild" property="isVaild" />
        <result column="create_time" property="createTime" />
        <result column="last_update_time" property="lastUpdateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, task_id, cron, is_vaild, create_time, last_update_time
    </sql>

</mapper>
